<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="listeners.Listeners"/>
    </listeners>
    <test name="LoginTest">
        <classes>
        <class name="test.LoginTest">
            <methods>
                <include name="login"/>
            </methods>
        </class>
        </classes>
    </test>
    <test name="ValidateTitle">
        <classes>
            <class name="test.ValidateTitleTest">
                <methods><include name="valida
                rLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="ValidateNavigation">
        <classes>
            <class name="test.ValidateNavigation">
                <methods>
                    <include name="validarLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>